.navigation {
  position: sticky;
  top: 0;
  margin: 0 !important;
  z-index: 9999;
  .site-title {
    background-color: #fff !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  .site-logo {
    max-width: 120px;
    @media screen and (max-width: 767px) {
      max-width: 80px;
    }
  }
  @media screen and (max-width: 767px) {
    .primary-menu {
      transform: translateY(-100vh);
      transition: transform 0.8s ease-in;
      background-color: #fff;
      position: absolute;
      top: 106px;
      width: 100%;
      z-index: -1;
      &.active {
        transform: translateY(0);
        transition: transform 0.8s ease-in-out;
      }
      @media screen and (max-width: 767px) {
        top: 80px;
      }
    }
  }
  .menu-toggle {
    position: absolute !important;
    justify-content: flex-end;
    height: 100%;
    top: 0;
  }
  .primary-menu {
    a {
      &:last-of-type {
        background-color: #ffce12;
        &:hover {
          background-color: #ffe785;
        }
      }
      &:nth-last-of-type(2) {
        background-color: #ffcdcc;
        &:hover {
          background-color: #ffebeb;
        }
      }
    }
  }
}
