header {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px !important;
  background-size: cover !important;
  background-position: center !important;
  @media screen and (min-width: 767px) {
    min-height: 500px;
  }
  h1.ui.huge.header {
    font-family: "Lora", serif;
    text-shadow: #333 1px 1px 3px;
    @media screen and (min-width: 767px) {
      font-size: 3rem;
    }
  }
}
